<script src="js/swfobject.js"></script>

<!-- SWFObject's dynamic embed method replaces this alternative HTML content for Flash content when enough JavaScript and Flash plug-in support is available. -->
<!--<div id="StickManMultiPlayer" name="StickManMultiPlayer" style="width:1200px; margin:auto; border:none;" >-->
  <!--<div id="altContent" >-->
    <!--<a href="http://www.adobe.com/go/getflash">-->
      <!--<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />-->
    <!--</a>-->
    <!--<p>This page requires Flash Player version 11.2.0 or higher.</p>-->
  <!--</div>-->
  <!--<a href="/" style="border:none;"><img src="replay.gif" alt="Replay" /></a>-->

<!--</div>-->
<div style="width:1200px; margin:auto; border:none;">
  <object id="StickManMultiPlayer"  name="StickManMultiPlayer" type="application/x-shockwave-flash" data="StickManMultiPlayer.swf" width="1200" height="600" >
    <param name="movie" value="StickManMultiPlayer.swf"/>
    <param name="quality" value="high"/>
    <param name="wmode" value="gpu"/>
    <param name="allowscriptaccess" value="always"/>
    <a href="http://www.adobe.com/go/getflash">
      <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>
    </a>
  </object>
  <a href="/" style="border:none;"><img src="replay.gif" alt="Replay" /></a>
  <!--<form name="form1" onsubmit="return false;" class="md-form">-->
    <!--<div class="panel col-xs-12"  style="background-color:#000000">-->
      <!--<div class="panel-heading">-->
        <!--<div class="form-group">-->
          <!--<div class=" col-xs-11">-->
            <!--<input class="md-textarea form-control " type="text" name="input" value="" />-->
          <!--</div>-->
          <!--<div class="col-xs-1">-->
            <!--<input class="btn btn-primary " type="button" value="Send" onclick="sendToActionScript(this.form.input.value);" /><br />-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<div class=" form-group">-->
          <!--<textarea class="form-control" cols="60" rows="20" name="output" readonly="true">Initializing...</textarea>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
</div>

<script>

  function sendToActionScript(value) {
    console.log("attempting to send: " + value);
    document.getElementById("StickManMultiPlayer").sendToActionScript(value);
  }
  function sendToJavaScript(value) {
    console.log("receiving: " + value);
    document.forms["form1"].output.value += "ActionScript says: " + value + "\n";
  }



//  var flashvars = {
//    socket: 1233
//  };
//  var params = {
//    menu: "false",
//    scale: "noScale",
//    allowFullscreen: "true",
//    allowScriptAccess: "always",
//    bgcolor: "",
//    wmode: "gpu" // can cause issues with FP settings & webcam
//  };
//  var attributes = {
//    id:"StickManMultiPlayer"
//  };
//  swfobject.embedSWF(
//    "StickManMultiPlayer.swf",
//    "altContent", "1200", "600", "10.0.0",
//    "expressInstall.swf",
//    flashvars, params, attributes);





</script>


